@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Comfortaa';
  src: url('../../public/fonts/Comfortaa-Regular.ttf');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../../public/fonts/Comfortaa-SemiBold.ttf');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../../public/fonts/Comfortaa-Bold.ttf');
  font-weight: 700;
  font-display: swap;
}

 @layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme('colors.primary.900');
    border-right-color: theme('colors.primary.200');
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme('colors.primary.200');
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.container {
  @apply px-4 py-12 md:px-8 w-full max-w-7xl mx-auto;
}


/* For data picker */
.rdp {
  --rdp-cell-size: 32px !important;
  --rdp-accent-color: theme('colors.accent.500') !important;
  --rdp-background-color: theme('colors.accent.600') !important;
  margin: 0 !important;
}